# Default ignored files
/../../3주차/.idea/shelf/
/../../3주차/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../3주차/.idea/httpRequests/
# Datasource local storage ignored files
/../../3주차/.idea/dataSources/
/../../3주차/.idea/dataSources.local.xml
